header {
    background-image: $color-primary-2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); //sombra
    padding: 10px 20px;

    .nav-item a:hover {
        font-style: oblique;
        @include color($color-dorado);
        font-size: 18px;
    }

    .liActivado {
        @include font($font-principal, $color-white);
    }

    .text-color {
        @include color($color-white);
    }
}